<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script type="type/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<div class="container">
    <hr>
    <h1 th:text="${pageTitle}"></h1>
    <hr>
    <h5 th:text="${message}"></h5>
    <hr>
    <h6><a th:href="@{/index}">INDEX</a></h6>
    <hr>
    <h6><a th:href="@{/home}">HOME</a></h6>
    <hr>
    <h6><a th:href="@{/inquiry}">INQUIRY</a></h6>
    <hr>
    <h6><a th:href="@{/thymeleaf}">THYMELEAF</a></h6>
    <hr>
</div>
</body>
</html>